body {
  background-color: black;
  color: white;
  margin-top: 0px;
}

.bulb {
  height: 20px;
  width: 20px;
  background-color: green;
  margin: 5px;
  display: ;
  border-radius: 10px;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  position: absolute;
}

#bulbs {
  top: 200px;
  left: 500px;
  height: 500px;
  width: 500px;
  position: absolute;
}

.bulb.active {
  background-color: yellow;
}

.bulb.chosen {
  border: 20p;
  border-style: solid;
  border-color: red;
}

#myBtn {
  display: inline-block;
}
